/* ----------------------------------------------------------
 *  Outros
 *---------------------------------------------------------- */
.content-header > .breadcrumb{
    position: static!important;
    float: none!important;
}

.box-form{
    padding: 15px;
}

.box-body{
    padding: 15px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.padding-top-20{
    padding-top: 20px;
}

.collapse-btn.collapsed:before{
    font-family:'FontAwesome';
    content:"\f077";
    margin-right: 5px;
}
.collapse-btn:before{
    font-family:'FontAwesome';
    content:"\f078";
    margin-right: 5px;
}
.no-padding-top-bot{
    padding-top: 0;
    padding-bottom: 0;
}
.margin-left-10{
    margin-left: 10px;
}
.scroller-table-250{
    max-height: 250px;
    overflow-x: auto;
}
/* ----------------------------------------------------------
 *  Tabs
 *---------------------------------------------------------- */
.modal-tabs{
    box-shadow: none;
    border-radius: 0;
}
.visao-geral-content-tab{
    background: #fff;
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.visao-geral.nav-tabs {
    margin: 0;
    border-bottom-color: #f4f4f4;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.visao-geral.nav-tabs > li {
    border-top: 3px solid transparent;
    margin-bottom: -2px;
    margin-right: 5px;
}
.visao-geral.nav-tabs > li > a {
    border-radius: 0 !important;
}
.visao-geral.nav-tabs > li > a,
.visao-geral.nav-tabs > li > a:hover {
    background: transparent;
    margin: 0;
}
.visao-geral.nav-tabs > li:not(.active) > a:hover,
.visao-geral.nav-tabs > li:not(.active) > a:focus,
.visao-geral.nav-tabs > li:not(.active) > a:active {
    border-color: transparent;
}
.visao-geral.nav-tabs > li.active {
    border-top-color: #3c8dbc;
}
.visao-geral.nav-tabs > li.active > a,
.visao-geral.nav-tabs > li.active:hover > a {
    background-color: #fff;
}
.visao-geral.nav-tabs > li.active > a {
    border-top: 0;
    border-left-color: #f4f4f4;
    border-right-color: #f4f4f4;
}
.visao-geral.nav-tabs > li:first-of-type {
    margin-left: 0;
}

.visao-geral.nav-tabs > li:first-of-type a{
    border-left: 0;
}

.visao-geral .nav-tabs > li:first-of-type.active > a {
    border-left-width: 0;
}
.nav-tabs-custom > .nav-tabs > li.header {
    line-height: 35px;
    padding: 0 10px;
    font-size: 20px;
    color: #444;
}
.visao-geral.nav-tabs > li.header > .fa,
.visao-geral.nav-tabs > li.header > .glyphicon,
.visao-geral.nav-tabs > li.header > .ion {
    margin-right: 5px;
}
.visao-geral.tab-content {
    background: #fff;
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

/* ----------------------------------------------------------
 *  Error Validate
 *---------------------------------------------------------- */
.error .form-control, .error .form-control:focus, .error .input-group-addon, .error .selectize-input{
    border-color: #F35454!important;
}

.error .form-control:focus {
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(233, 102, 102, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(233, 102, 102, 0.6);
}
span.error{
    font-weight: bold;
}

label.error, span.error {
    color: #F35454;
    font-size: 12px;
}

.error ul{
    list-style-type: none;
    padding-left: 0;
}